* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    color: #fff;

}

.table2 {
    justify-content: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 40px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: lowercase;
}

.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #00204d;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    
}                                                                                

.navbar ul li:hover::after{
    width: 100%;
    
}

h1{
    margin-top: 10px;
}
body {
    background: linear-gradient(90deg, rgba(96,0,186,1) 0%, rgba(0,78,194,1) 100%);
    margin: auto;
    margin-left: 200px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}

main.table {
    width: 82vw;
    height: 90vh;
    background-color: rgba(51, 51, 51, 0.333);

    backdrop-filter: blur(7px);
    box-shadow: 0.4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}


.table_header {
    text-align: center;
    width: 100%;
    height: 10%;
    background-color: rgba(31, 31, 31, 0.267);
    padding: .8rem 1rem;
}

.table_body{
    width: 95%;
    max-height: calc(89% - .8rem);
    background-color: rgba(51, 51, 51, 0.425);

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    

}

.table_body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table_body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table_body:hover:-webkit-scrollbar-thumb {
    visibility: visible;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background: rgba(110, 63, 240, 0.247);
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}